 @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 

.clear{
    background-color: rgb(41, 233, 41);
}
body {
    margin: 0;
    background: radial-gradient(#1e8fa5,#08506b, black)no-repeat fixed;
    padding: 50px 0px;
    margin: 10px;
}
table{
    padding: 15px;
    margin-right: auto;
    background-image: linear-gradient(135deg, black, rgb(27, 26, 26)); 
    box-shadow: 0px 0px 27px #2e2f30 inset;
   border-radius: 25px;
}
input[type="text"] {
    font-family: 'VT323', monospace;
    box-shadow: 0px 0px 27px #285239 inset;
    width: 80%;
    height: 61px;
    border: 1px solid rgb(72, 214, 160);
    padding: 10px 20px;
    font-size: 40px;
    background: #76d39d;
    /* font-weight: bold; */
    margin-bottom: 25px;
    margin-top: 10px;
    color: #000;
    border: 2px solid #5a5857;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    width:60px ;
    height: 30px;
    margin:3px 2px;
    font-size: 16px;
    font-weight: bold;
font-family: 'Roboto', sans-serif;
 background: rgb(65, 62, 62);
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 27px #838383 inset;
}
button.equal:hover{
    background: #000803;
}
button.equal {
    width:80%;
}
td{
    padding-right: 0px;
}
@media  screen and (max-width:900px) {
    table{
        padding: 15px;
        margin-right: auto;
        width: 90%;
        background-image: linear-gradient(135deg, black, rgb(27, 26, 26)); 
        box-shadow: 0px 0px 27px #2e2f30 inset;
       border-radius: 25px;
    }
    input[type="text"] {
        font-family: 'VT323', monospace;
        box-shadow: 0px 0px 27px #285239 inset;
        width: 80%;
        height: 61px;
        border: 1px solid rgb(72, 214, 160);
        padding: 10px 20px;
        font-size: 40px;
        background: #76d39d;
        /* font-weight: bold; */
        margin-bottom: 25px;
        margin-top: 10px;
        color: #000;
        border: 2px solid #5a5857;
        border-radius: 5px;
    }
    button {
        padding: 10px 20px;
        width:60px ;
        height: 30px;
        margin:3px 2px;
        font-size: 16px;
        font-weight: bold;
        font-family: cursive;
        background: rgb(65, 62, 62);
        border: none;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 0px 0px 27px #838383 inset;
    }
    button.equal:hover{
        background: #000803;
    }
    button.equal {
        width:95%;
    }
    
}
